.modal {
  position: fixed;
  top: 7rem;
  right: 0.5rem;
  width: 32rem;
  background-color: #fff;
  border-radius: 3px;
  box-shadow: 0 8px 16px -4px rgb(9 30 66 / 25%), 0 0 0 1px rgb(9 30 66 / 8%);
}

.title {
  text-align: center;
  color: #5e6c84;
  font-size: 1.4rem;
  padding: 1rem 0;
}

.user {
  display: flex;
  align-items: center;
  border-top: 1px solid rgba(9, 30, 66, 0.13);
  border-bottom: 1px solid rgba(9, 30, 66, 0.13);
  padding: 1rem 1.2rem;
  margin-bottom: 1rem;
}

.ava {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 4rem;
  height: 4rem;
  color: #fff;
  text-transform: uppercase;
  background-color: #5243aa;
  border-radius: 50%;
  cursor: pointer;
  margin-right: 1rem;
}

.info {
  p:nth-child(1) {
    color: #172b4d;
    font-size: 1.4rem;
    line-height: 2rem;
  }
  p:nth-child(2) {
    color: #b3bac5;
    font-size: 1.3rem;
  }
}

.logout,
.options {
  text-align: left;
  width: 100%;
  background: none;
  font-size: 1.2rem;
  line-height: 2rem;
  color: #172b4d;
  cursor: pointer;
  padding: 0.5rem 1rem;
  margin-bottom: 1rem;

  &:hover {
    background: rgba(9, 30, 66, 0.04);
  }
}

.close {
  position: absolute;
  top: 1.1rem;
  right: 1rem;
  font-size: 1.2rem;
  background: none;
  color: #b3bac5;
  cursor: pointer;
}
