.container {
  img {
    position: absolute;
    max-width: 40rem;
    width: 100%;
    bottom: 0;
  }
}

.left {
  left: 0;
}

.right {
  right: 0;
}

@media screen and (max-width: 767.98px) {
  .container {
    img {
      display: none;
    }
  }
}
