.board {
  flex: 1 1 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  padding: 10rem 0 0 0.5rem;
}

.heading {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 100%;
  margin-bottom: 2rem;
}

.breadcrumbs {
  display: flex;
  align-items: center;
  color: #5e6c84;
  font-size: 2rem;
  text-transform: uppercase;
  font-size: 1.6rem;

  a {
    color: #5e6c84;
    margin: 0;
    padding: 0;
  }

  span {
    margin: 0 0.5rem;
  }
}

.title {
  font-size: 1.6rem;
  font-weight: 500;
}

.boardContainer {
  position: relative;
  display: flex;
  width: 100%;
  column-gap: 1rem;
  overflow-x: auto;
  overflow-y: hidden;
  padding: 1rem;
  height: calc(100vh - 40rem);
  min-height: 15rem;
}

.boardContainer::-webkit-scrollbar {
  height: 0.7rem;
  margin-left: 1rem;
  padding-left: 1rem;
}

.boardContainer::-webkit-scrollbar-track {
  height: 0.8rem;
  border-radius: 3px;
  background-color: #dadbe2;
  margin-top: 1rem;
  padding-bottom: 1rem;
}

.boardContainer::-webkit-scrollbar-thumb {
  border-radius: 3px;
  background-color: #bfc4ce;
  margin-top: 1rem;
  padding-bottom: 1rem;
}

.boardColumns {
  display: flex;
}

.boardBtnContainer {
  display: flex;
  width: 100%;
}

.btnColumnAdd {
  position: relative;
  display: flex;
  align-items: center;
  background-color: #0065ff;
  border-radius: 3px;
  box-shadow: none;
  color: #fff;
  font-size: 1.4rem;
  padding: 0.6rem 2rem 0.6rem 1rem;
  text-decoration: none;
  cursor: pointer;
  transition: background-color 0.2s ease 0s;

  .iconAdd {
    margin-right: 0.5rem;
    line-height: 2rem;
  }

  &:hover {
    background-color: #0747a6;
  }
}

.placeholder {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #fff;
  font-weight: 500;
  font-size: 2.5rem;
}

@media screen and (max-width: 479.98px) {
  .breadcrumbs {
    margin-bottom: 1rem;
  }
}
