.modal {
  display: flex;
  justify-content: center;
  align-items: center;
}

label {
  color: #5e6c84;
  font-size: 1.6rem;
  line-height: 2.8rem;
}

.formContainer {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 40rem;
  width: 100%;

  form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    row-gap: 1.5rem;
  }

  input,
  textarea {
    font-size: 1.4rem;
    background-color: #fafbfc;
    border: 2px solid #dfe1e6;
    border-radius: 3px;
    height: 4.4rem;
    width: 32rem;
    padding: 0.5rem 1rem;

    &:focus {
      border: 2px solid #4c9aff;
    }
    &.preview {
      pointer-events: none;
      background-color: #f1f1f1;
    }
  }
  textarea {
    width: 100%;
    height: 10rem;
    resize: none;
  }
}

.btmFormContainer {
  display: flex;
  width: 100%;
  column-gap: 1rem;
}

.buttonForm {
  width: 50%;
  background-color: #5aac44;
  color: #fff;
  padding: 0.8rem 1.8rem;
  border-radius: 3px;
  cursor: pointer;
  transition: background-color 0.3s ease 0s;
}

.btnOk {
  display: flex;
  align-items: center;
  justify-content: center;
  max-height: 3.5rem;
  width: 100%;
  background-color: #0079bf;
  color: #fff;
  border-radius: 3px;
  cursor: pointer;
  transition: background-color 0.3s ease 0s;
  padding: 0.8rem 1.8rem;

  &:hover {
    background-color: #026aa7;
  }

  &:disabled {
    pointer-events: none;
  }
}
