.form {
  display: flex;
  flex-direction: column;
  align-items: center;

  a {
    text-align: center;
    text-decoration: none;
    color: hsl(202, 40%, 55%);
    font-size: 1.4rem;
    font-weight: 300;

    &:hover {
      text-decoration: underline;
    }
  }
}

.submit {
  display: flex;
  align-items: center;
  justify-content: center;
  max-height: 3.5rem;
  width: 100%;
  background-color: #5aac44;
  color: #fff;
  border-radius: 3px;
  cursor: pointer;
  transition: background-color 0.3s ease 0s;

  span {
    padding: 0.8rem 1.8rem;
  }

  &:hover {
    background-color: #61bd4f;
  }

  &:disabled {
    pointer-events: none;
  }
}

.selector {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid hsl(0, 0%, 80%);
  margin: 3rem 0 2rem;
}

.preloader {
  display: inline-block;
  width: 100%;
  height: 100%;
  object-fit: contain;
}

@media screen and (max-width: 479.98px) {
  .form {
    max-width: 31rem;
  }
  .submit {
    max-width: 30rem;
  }
}
