.logo {
  display: flex;
  align-items: center;
  background: none;
  cursor: pointer;

  img {
    height: 3rem;
    width: 3rem;
    margin-right: 1rem;
  }

  span {
    color: #293856;
    font-size: 3rem;
    font-weight: 700;
  }
}

@media screen and (max-width: 479.98px) {
  .logo {
    margin-bottom: 2rem;
  }
}
