.team {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-top: 1px solid #5e6c84;
  border-bottom: 1px solid #5e6c84;
  padding: 2rem 0;
}

.title {
  font-size: 4rem;
  font-weight: 500;
  margin-bottom: 5rem;
}

.content {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  width: 100%;
  gap: 5rem;
}
