.modal {
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100vw;
  background-color: rgba(0, 0, 0, 0.4);
  z-index: 1000;
}

.content {
  position: relative;
  background-color: #fff;
  box-shadow: rgb(0 0 0 / 10%) 0 0 10px;
  border-radius: 3px;
  padding: 2.5rem 4rem;
}

.close {
  position: absolute;
  top: 0.5rem;
  right: 0.5rem;
  font-size: 1.2rem;
  background: none;
  color: #b3bac5;
  cursor: pointer;
}
