.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 1.6rem;

  input {
    font-size: 1.4rem;
    background-color: #fafbfc;
    border: 2px solid #dfe1e6;
    border-radius: 3px;
    height: 4.4rem;
    width: 32rem;
    padding: 0.5rem 1rem;

    &:focus {
      border: 2px solid #4c9aff;
    }
  }
}

@media screen and (max-width: 479.98px) {
  .container {
    input {
      max-width: 30rem;
    }
  }
}
