.developer {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 22rem;
  width: 100%;
  background-color: #fff;
  box-shadow: rgb(0 0 0 / 10%) 0 0 10px;
  border-radius: 3px;
  padding: 0rem 3rem 1rem 3rem;
  transition: transform 0.2s ease-in-out 0s;
  &:hover {
    transform: scale(1.02);
  }
}

.image {
  width: 22rem;
  height: 22rem;
  margin-bottom: 1rem;
  border-radius: 3px;
  object-fit: cover;
}

.name {
  text-align: center;
  font-size: 2.4rem;
  color: #5e6c84;
  margin-bottom: 1rem;
}

.position {
  font-size: 2.2rem;
  font-weight: 500;
  color: #b3bac5;
  margin-bottom: 1rem;
}

.github {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  align-items: center;
  font-size: 2rem;
  color: transparent;
  margin-bottom: 1rem;
}

.description {
  color: #5e6c84;
  li {
    list-style: square;
    margin-bottom: 1rem;
  }
}
