.header {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 200;

  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 6.5rem;
  background-color: #fff;
  padding: 1.5rem;
  background-color: transparent;
  box-shadow: transparent;
  transition: all 0.5s ease 0s;

  &.blue {
    background-color: #d3d9ff;
  }

  &.shadow {
    box-shadow: 0 0 10px rgb(0 0 0 / 30%);
  }

  &.white {
    background-color: #fff;
    box-shadow: 0 0 10px rgb(0 0 0 / 30%);
  }
}

.settings {
  display: flex;
  align-items: center;
}
