.links {
  display: flex;
  align-items: center;
  justify-content: center;
  align-self: center;
  width: 100%;
}

@media screen and (max-width: 767.98px) {
  .links {
    flex-direction: column;

    a {
      margin-bottom: 1rem;
    }
  }
}
