.account {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 10rem 0 5rem 0;
}

.container {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 40rem;
  width: 100%;
  background-color: #fff;
  box-shadow: rgb(0 0 0 / 10%) 0 0 10px;
  border-radius: 3px;
  padding: 2.5rem 4rem;
  margin-top: 2rem;
  z-index: 500;

  h2 {
    color: #5e6c84;
    font-size: 1.6rem;
    line-height: 2.8rem;
    margin-bottom: 1rem;
  }
}

.bg {
  width: 100%;
  margin-bottom: 2rem;
}

.selector {
  display: block;
  width: 100%;
  height: 3px;
  border: 0;
  border-top: 1px solid hsl(0, 0%, 80%);
  margin-bottom: 2rem;
}

.or {
  position: relative;
  text-transform: uppercase;
  font-weight: 500;
  width: 100%;
  text-align: center;
  color: #5e6c84;
  font-size: 1.4rem;
  margin: 2rem 0;

  &:before,
  &:after {
    content: '';
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    display: block;
    background-color: hsl(0, 0%, 80%);
    height: 0.2rem;
    width: 14rem;
  }

  &:before {
    left: -0rem;
  }

  &:after {
    right: -0rem;
  }
}

.delete {
  display: flex;
  align-items: center;
  justify-content: center;
  max-height: 3.5rem;
  width: 100%;
  background-color: #eb5a46;
  color: #fff;
  border-radius: 3px;
  cursor: pointer;
  transition: background-color 0.3s ease 0s;

  span {
    padding: 0.8rem 1.8rem;
  }

  &:hover {
    background-color: #d34a38;
  }

  &:disabled {
    pointer-events: none;
  }
}

@media screen and (max-width: 479.98px) {
  .container {
    max-width: 31rem;
  }
}
