.modal {
  position: absolute;
  top: 5rem;
  left: 50%;
  transform: translateX(-50%);
  right: 0.5rem;
  width: 32rem;
  background-color: #fff;
  border-radius: 3px;
  box-shadow: 0 8px 16px -4px rgb(9 30 66 / 25%), 0 0 0 1px rgb(9 30 66 / 8%);
}
