.signup {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 10rem 0 5rem 0;
}

.container {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 40rem;
  width: 100%;
  background-color: #fff;
  box-shadow: rgb(0 0 0 / 10%) 0 0 10px;
  border-radius: 3px;
  padding: 2.5rem 4rem;
  margin-top: 2rem;
  z-index: 10;

  h2 {
    color: #5e6c84;
    font-size: 1.6rem;
    line-height: 2.8rem;
    margin-bottom: 2.5rem;
  }
}

@media screen and (max-width: 479.98px) {
  .container {
    max-width: 31rem;
  }
}
