.input {
  background-color: rgba(0, 101, 255, 0.1);
  border: 1px solid rgba(0, 101, 255, 0.3);
  border-radius: 3px;
  box-shadow: none;
  font-size: 1.4rem;
  color: #172b4d;
  padding: 0.2rem 0.6rem;
  text-decoration: none;
  max-width: 12rem;
  margin-right: 0.5rem;

  &:focus {
    border: 1px solid rgba(0, 101, 255, 0.8);
  }
}
