.column {
  height: 100%;
  min-width: 27.2rem;
  max-width: 27.2rem;
}

.columnHeader {
  display: flex;
  background-color: #ebecf0;
  padding-left: 1rem;
  column-gap: 0.1rem;
  align-items: center;
  border-bottom: 0.01rem solid #0000003d;
  overflow: hidden;
  padding: 0.5rem;
}

.titleBoard {
  width: 100%;
  height: 3rem;
  display: flex;
  align-items: center;
  color: #172b4d;
  font-weight: bold;
}

.columnBtn {
  color: #fff;
  padding: 0.8rem 1.8rem;
  width: 100%;
  cursor: pointer;
  transition: background-color 0.3s ease 0s;
}

.addButton {
  background-color: #5aac44;
}

.deleteButton {
  background-color: #ac4444;
}

.taskListContainer {
  display: flex;
  flex-direction: column;
  background-color: #ebecf0;
  padding: 0.5rem;
  row-gap: 0.5rem;
  height: 28.2rem;
  overflow-y: scroll;
}

.taskListContainer::-webkit-scrollbar {
  width: 0.7rem;
  background-color: rgba(20, 47, 104, 0.5);
  height: 100%;
}

.taskListContainer::-webkit-scrollbar-thumb {
  background-color: #237e8f;
  cursor: pointer;
}

.hide {
  opacity: 0;
}

.titleChangeContainer {
  display: flex;
  width: 100%;
  .inputTitle {
    height: 3rem;
    border: 0.1rem solid #044ac4;
    outline: none;
    background-color: transparent;
    color: #172b4d;
    font-weight: bold;
    width: 100%;
    padding-left: 1rem;
  }

  .changeBtn {
    width: 3rem;
    height: 3rem;
    border: 0.1rem solid #044ac4;
    outline: none;
    cursor: pointer;
    font-size: 1.6rem;
    font-weight: bold;
  }

  .changeBtnNo {
    color: #af1919;
  }

  .changeBtnOk {
    color: #2baf19;
  }
}
